
body{
    font-family: 'Roboto Slab', serif;
    margin: 0;
    background-color: #e1dcc5;
}

/* Books list grid start here */
#books-list{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 10px 5px;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
    margin-top: 20px;
}

/* Books list customization */
#books-list div{
    padding: 1%;
    margin: 3%;
    border-radius:10px;
    height: 97%;
    background-color: #ddd4ac;
    color: black;
    box-shadow:  0px 7px 29px 0px rgba(139, 134, 129, 0.521);
}
/* Image set up */
.book img{
    width: 100%;
    height: 50%;
    border-radius:10px;
}

/* No result and No of result message property */
#message{
    text-align: center;
    font-size: 20px;
}


/* Responsive customization for tablet */
@media (max-width: 992px){

    #books-list{
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Responsive customization for mobile phone */
@media (max-width: 668px){
    #books-list{
        grid-template-columns: repeat(2, 1fr);
    }
}